.passRules {
  background-color: rgb(24, 21, 21);
  width: 25rem;
  height: 25rem;
  border-radius: 10% 15%;
  box-shadow: 1px 9px 15px 1px black;
}
.rules {
  color: grey;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.hide {
  display: none;
}
.back {
  width: 8rem;
  border: none;
  margin-top: 1rem;
}
